<p style="color: green"><%= notice %></p>

<%= render @reportage %>

<div>
  <%= link_to "Edit this reportage", edit_reportage_path(@reportage) %> |
  <%= link_to "Back to reportages", reportages_path %>

  <%= button_to "Destroy this reportage", @reportage, method: :delete %>
</div>
