<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= content.type %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= content.file_path %>
  </p>

  <p>
    <strong>User:</strong>
    <%= content.user_id %>
  </p>

</div>
