
<div class="container-fluid" id="home-view">
  <div class="row-fluid">
    <div class="hero-unit bg-image" id="splash-section" style=" background-color: orange; background-image: url(<%= image_path "splash.webp"%>);
        height: 100vh; background-repeat: no-repeat; background-position: center center; background-size: cover; background-blend-mode: multiply;">
      <h1>Radio T&eacute;l&eacute; Patriarche</h1>
      <p class="tagline">Que l&apos;&eacute;motion soit!</p>
      <p>
        <a class="button-73"> 
          Nos emissions
        </a>
        <a class="button-73">
          En savoir plus...
        </a>
      </p>
    </div>
  </div>
  <div class="row-fluid" id="home-direct" >
    <div class="my-5" id="home-direct-section">
      <div class="p-5 text-center">
        <div class="container py-5">
<div class="row">
          <div class="col-lg-4">
            <h2>En directe</h2>
            <div class="logo-container">
            <%= image_tag("logo.jpg", alt: "radio patriarche logo")%>
            </div>
          </div>
          <div class="col-lg-8">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/NiRIbKwAejk?si=aVXDKGhjpyTntmSI" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <section class="row-fluid">
    <div id="home-about-section">
      <div class="p-5 text-center">
        <div class="container py-5 shadow">
          <h1 class="text-body-emphasis">Radio T&eacute;l&eacute; Patriarche</h1>
          <p class="col-lg-8 mx-auto lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
          <p class="col-lg-8 mx-auto lead">
          Occaecat ut excepteur ea occaecat. Proident occaecat velit magna velit nulla aliqua eiusmod cillum sit do exercitation. Eiusmod nulla sunt nisi exercitation et laborum et sint ut laborum ipsum non.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="row-fluid">
    <div class="col">
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("emission.jpg", alt: "emission", class: "d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("emission2.jpg", alt: "emission", class: "d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("emission.jpg", alt: "emission", class: "d-block w-100") %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
</div>
