<section class="container-fluid py-5" id="articles-page">
  <p style="color: green"><%= notice %></p>
  <div class="container py-5">
    <h1>Articles</h1>
    <div id="articles">
      <% @les_articles.each do |article| %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <% if article.contents.attached?  %>
                <%if article.contents[0].image?%>
                  <%= image_tag(article.contents[0], class: "card-image", alt: "article image") %>
                <%end%>
              <%end%>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.description %></p>
                <p>
                  <%= link_to 'Voir plus ...', un_article_path(article) %>
                </p>
              </div>
              <div class="card-footer">
                <p class="card-text">Post&eacute;&nbsp;le&nbsp;<small class="text-muted"><%= article.created_at %></small></p>
                <p class="card-text">Modifi&eacute;&nbsp;le&nbsp;<small class="text-muted"><%= article.updated_at %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
