<p style="color: green"><%= notice %></p>
<section class="container-fluid p-5" id="emissions">
  <h1>Emissions</h1>
  <% @les_emissions.each do |emission| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag(emission.poster, class: "card-img", alt: "Emission logo") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= emission.title %></h5>
            <p class="card-text"><%= emission.description %></p>
            <p>
              <%= link_to 'Voir plus ...', une_emission_path(emission) %>
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text"><small class="text-muted"><%= emission.created_at %></small></p>
            <p class="card-text"><small class="text-muted"><%= emission.updated_at %></small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>