<%
=begin%>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Reportages</h1>
      <div id="articles">
        <% @articles.each do |article| %>
          <section>
            <h2><%= article.title %> </h2>
            <h3><%= article.subtitle %> </h3>
            <p>
              <%= article.description %>
            </p>
            <p>
              <%= link_to 'Voir plus ...', reportage_path(article), class: "more" %>
            </p>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%
=end%>
<p style="color: green"><%= notice %></p>
<h1>Reportages</h1>
<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= article.description %>
    </p>
    <p>
      <%= link_to 'Voir plus ...', un_article_path(article) %>
    </p>
  <% end %>
</div>
