<p style="color: green"><%= notice %></p>
<h1>Emissions</h1>
<div id="emissions">
  <% @les_emissions.each do |emission| %>
    <h2><%= emission.title %></h2>
    <p>
      <strong>Description:</strong>
      <%= emission.description %>
    </p>
    <p>
      <strong>Poster:</strong>
      <%= link_to emission.poster.filename, emission.poster if emission.poster.attached? %>
    </p>
    <p>
      <%= link_to 'Voir plus ...', une_emission_path(emission) %>
    </p>
  <% end %>
  se bon an
</div>