<header class="container-fluid fixed-top bg-transparent" id="public-header">
  <div class="site-navbar-top d-none d-md-block px-4">
    <div class="container-fluid py-1 border-bottom">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="d-flex align-items-center justify-content-start gap-3">
            <a href="#" class="d-flex align-items-center">
              <span class="bi bi-envelope mr-2"></span>
              <span class="d-none d-md-inline-block">info@patriache.com</span>
            </a>
            <a href="#" class="d-flex align-items-center">
              <span class="bi bi-telephone-forward mr-2"></span>
              <span class="d-none d-md-inline-block">+509 88 88 88 88</span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex align-items-center justify-content-end">
            <a href="#" class="p-2 pl-0"><span class="bi bi-twitter"></span>
              <!--<i class="bi bi-twitter"></i>-->
            </a>
            <a href="#" class="p-2 pl-0"><span class="bi bi-facebook"></span>
              <!--<i class="bi bi-facebook"></i>-->
            </a>
            <a href="#" class="p-2 pl-0"><span class="bi bi-linkedin"></span>
              <!--  <i class="bi bi-linkedin"></i>-->
            </a>
            <a href="#" class="p-2 pl-0"><span class="bi bi-instagram"></span>
              <!--<i class="bi bi-instagram"></i>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light px-4">
    <!--<nav class="navbar navbar-expand-md navbar-light fixed-top bg-transparent">-->
    <div class="container-fluid">
      <%= link_to root_path , class:"navbar-brand" do %>
        Radio T&eacute;l&eacute; Patriarche
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link active", aria: { current: "page" }  do %>
              Radio T&eacute;l&eacute; Patriarche
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link" do %>
              A propos de nous
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to published_articles_path , class: "nav-link" do %>
              Articles
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to published_emissions_path, class: "nav-link" do %>
              Emissions
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_contact_form_path, class: "nav-link" do %>
              Contactez-nous
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>