<%= form_with(model: emission_content) do |form| %>


  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.file_field :content %>
  </div>

  <%
=begin%>
 <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div> 
<%
=end%>

  <div>
    <%= form.label :emission_id, style: "display: block" %>
     <%= select_tag(:emission_id, options_for_select(@emission_options)) %>
  </div>




  <div>
    <%= form.submit %>
  </div>
<% end %>
